In [60]:
import requests
import json
import pandas as pd
from pathlib import Path

In [61]:
files = requests.get('https://api.github.com/repos/CSSEGISandData/COVID-19/contents/csse_covid_19_data/csse_covid_19_time_series',
                     headers={'Authorization': 'token 34aec0b00a206c0415000623eecf796a474a4b68'}).json()

In [62]:
for f in files:
    data = requests.get('https://api.github.com/repos/CSSEGISandData/COVID-19/contents/' + f.get('path'), 
                        headers={'Authorization': 'token 34aec0b00a206c0415000623eecf796a474a4b68'}).json()
    url = data.get('download_url')
    if url:
        realdata = requests.get(url)
        file = open("data/" + data.get('name'),'w') 
        file.write(realdata.text) 
        file.close()

In [99]:
global_cases = pd.read_csv('data/time_series_covid19_confirmed_global.csv')
global_deaths = pd.read_csv('data/time_series_covid19_deaths_global.csv')
us_deaths = pd.read_csv('data/time_series_covid19_deaths_US.csv')

In [100]:
global_cases['ones'] = 1
total_cases = global_cases.groupby(by='ones').sum().reset_index(inplace=False, drop=True)
total_cases.drop(["Lat","Long"], axis=1, inplace=True)

In [101]:
global_deaths['ones'] = 1
total_deaths = global_deaths.groupby(by='ones').sum().reset_index(inplace=False, drop=True)
total_deaths.drop(["Lat","Long"], axis=1, inplace=True)

In [102]:
us_deaths['ones'] = 1
total_us_deaths = us_deaths.groupby(by='ones').sum().reset_index(inplace=False, drop=True)
total_us_deaths.drop(["Lat","Long_","UID",'code3','Population',"FIPS"], axis=1, inplace=True)

In [103]:
global_cases.drop(["Province/State", "Country/Region", "Lat", "Long", 'ones'], axis=1, inplace=True)

In [104]:
num_countries = global_cases.applymap(lambda x: 0 if x==0 else 1)

In [105]:
num_countries['ones'] = 1
total_countries = num_countries.groupby(by='ones').sum().reset_index(inplace=False, drop=True)

In [106]:
totals = pd.concat([total_cases, total_deaths, total_us_deaths, total_countries])
totals.insert(0, "type", ["Cases", "Deaths", "US Deaths", "Number of Countries"])

In [107]:
totals.head()

,type,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20
0,Cases,555,654,941,1434,2118,2927,5578,6166,8234,...,3023722,3097190,3172287,3256853,3343777,3427343,3506729,3583055,3662691,3755341
0,Deaths,17,18,26,42,56,82,131,133,171,...,214444,220799,227665,233357,238619,243808,247470,251537,257239,263831
0,US Deaths,0,0,0,0,0,0,0,0,0,...,56219,58355,60967,62996,64943,66369,67682,68922,71064,73431
0,Number of Countries,29,37,39,42,45,48,49,52,55,...,262,262,262,264,265,265,265,265,265,265

In [108]:
totals.to_csv('covid.csv')